@font-face {
	font-family: 'haxr';
	src: url('resources/haxrcorpttf.ttf');
}

html {
	background-color: #151515;
	/**/ background: url('resources/tsukihi3.jpg') no-repeat right top; /**/
	/*  background: url('muffet.gif') fixed right 0 bottom no-repeat #000; /**/
	color: #FFF;
	background-size: 100%;
}

body {
	font-family: 'haxr';
	font-size: 16px;
}

.general {
	margin: 0 auto;
	background-color: #FFF;
	width: 400px;
	height: 70px;
	border-left: solid #2aa198 10px;
	transition: .2s;
}

	.general:hover {
		border-left: solid #2aa198 20px;
}

.chan {
	margin: 0 auto;
	background-color: #FFF;
	width: 400px;
	height: 70px;
	border-left: solid #859900 10px;
	transition: .2s;
}

	.chan:hover {
		border-left: solid #859900 20px;
}

.social {
	margin: 0 auto;
	background-color: #FFF;
	width: 400px;
	height: 70px;
	border-left: solid #cb4b16 10px;
	transition: .2s;
}

	.social:hover {
		border-left: solid #cb4b16 20px;
}

.ch {
	margin: 0 auto;
	background-color: #FFF;
	width: 400px;
	height: 70px;
	border-left: solid #d33682 10px;
	transition: .2s;
}

	.ch:hover {
		border-left: solid #d33682 20px;
}

.title {
	color: #FFF;
	text-align: center;
	padding-top: 22px;
	margin: auto;
	width: 90px;
}

.sub {
	padding-left: 12px;
	padding-top: 12px;
	color: #848484;
}

a {
	padding-left: 16px;
	text-decoration: none;
	color: #F8E0F7;
	transition: .2s;
	outline: 0;
}

.alink {
	color: #000;
}

	a:hover {
		color: #848484;
}

.google {
	width: 410px;
	border: 0px; border-left: solid  #de5833 10px;
	margin: 0 auto;
	display: block;
	height: 35px;
	font-family: 'haxr'; font-size: 16px;
	padding-left: 14px;
	transition: .2s;
}

	.google:hover,.google:focus {
		border-left: solid  #de5833 20px;
}

.circle {
	border-radius: 50px 50px;
	background-color: #FFF;
	width: 100px;
	height: 100px;
	transition: .2s;
}

.circle:hover {
	background: #000;
}

.quote {
	text-align: center;
}
